<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <script>
        function callAjax(url){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }
    </script>
</head>

<body>
hello!
<form>
    <button onclick="callAjax(/start/)" value="">Start</button>
    <button onclick="callAjax(/stop/)" value="">Stop</button>
    <button onclick="callAjax(/quit/)" value="">quit</button>
</form>

</body>
</html>